sphinx
furo
sphinxcontrib-napoleon
sphinx-autoapi
sphinx-design
sphinxcontrib-bibtex
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
